@import url(./config.css);

html {
    font-family: 'Roboto', sans-serif;;
}
body{

}

#header {
    width: 100%;    
    background-color: transparent;
    cursor: pointer;
    transition: ease-out 0.2s;
    
}

#header.navbar-collapse {
    width: auto;

}

.nav-link {
    padding: 5px;
    color: #038d94 ;
    transition: all ease 0.3s;

}

.nav-link:hover{   
        color: #003d41;
        letter-spacing: 0.9px;
}


#slider{
    width: 100%;
    height: 36rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 8rem;
    background-color: #034646;
    background-size: contain;
    
    
}
#img-slide-logo{
    height: 2reM;
    min-width: 100px;
    max-width: 280PX;

}


#slider-text h5, h2{
    min-width: 100px;
    max-width: 320PX;
    color: white;
}

/*---------------*/

/*Formulários*/
.form-group{
    position: absolute;
    left: 25%;
    top: 35%;
    width: 50%;
    
}
.input-group-text{
    color: #01383b;
}
#title-form{
    position: absolute;
    left: 25%;
    top: 20%;
    color: #038d94;
}

#img-form{
    position: absolute;
    right:1%;
    top: 1%;
}
.btn.btn-primary{
    position: relative;
    width: 50%;
    left: 25%;
}
#link-form{
    color:#038d94;
    text-decoration: none;
}
#link-form:hover{
    color:#01383b;
    
}
#footer-form{
    position: relative;
    top: 1rem;
    left: 23%;
}
/*---------------*/

/*page-sobreNos*/

#main-sobre{
    position: relative;
    padding: 5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: justify;
    border: solid steelblue ;
    
}
#main-sobre h1{
    position: relative;
    top: -10px;
}
#img-faca{
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 25rem;
    opacity: 0.9;
}
#faca-parte{
    position: relative;
    top: 3rem;
    align-items: center;
    
    
}
.btn.btn-info {
    position: absolute;
    top: 12rem;
    height: 3rem;
    left: 15%;
    font-size: 15pt;
    background-color: steelblue;
    transition: all ease 0.3s;
}
.btn.btn-info:hover{
    background-color: rgb(44, 69, 90);
    letter-spacing: 0.2px;
}
#faca-parte h1{
    position: absolute;
    color: rgb(44, 69, 90);
    top: 7rem;
    height: 3rem;
    left: 15%;
  
}
  






/*---------------*/


