@import url(./config.css);

html {
    font-family: 'Roboto', sans-serif;;
    overflow-x: hidden;
}
body{
    min-width: 320px;
    max-width: 1500px;
     
}
/*header*/
#header {
    width: 100%;    
    background-color: transparent;
    cursor: pointer;
    transition: ease-out 0.2s;
    
}

#header.navbar-collapse {
    width: auto;

}

.nav-link {
    padding: 5px;
    color: #038d94 ;
    transition: all ease 0.3s;

}

.nav-link:hover{   
        color: #003d41;
        letter-spacing: 0.9px;
}
/*header*/

/*slider*/
#slider{
    width: 100%;
    min-height: 36rem;
    max-height: 55rem;
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 8rem;
    background-color: #034646;
    background-size: contain;
    
    
}
#img-slide-logo{
    height: 2reM;
    min-width: 100px;
    max-width: 280PX;

}


#slider-text h5, h2{
    min-width: 100px;
    max-width: 320PX;
    color: white;
}
/*slider*/
/*servicos*/
#servicos{
   position: relative;
   left: 5rem;
   min-height: 36rem;
    max-height: 550rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   
}
#title-servicos{
    position: relative;
    top: 15px;
    left: 10rem; 
}
.card{
    margin: 5rem;
    border: solid 2px steelblue;
    transition: all 0.6s;
}
.card:hover{
    letter-spacing: 0.5px;
    border: solid 2px rgb(44, 69, 90);

}
.btn.btn-primary{
    transition: all 0.8s;
}
.btn .btn-primary{
    letter-spacing: 0.3px;
}
.card-img-top{
    height: 50%;
    width: 100%;
}


/*servicos*/
/*sobre*/
#sobre{
    position: relative;
    min-height: 45rem;
    max-height: 550rem;
}

#img-sobre{
    position: absolute;
    min-height: 36rem;
    max-height: 690rem;
    opacity: 0.6;
}
#sobre h1{
    position: relative;
    left: 8rem;
}
#sobre-txt{
    position: absolute;
    top: 8rem;
    left: 8rem;
    min-width: 80px;
    max-width: 500px;
    
    font-size: 2rem;
    text-align: justify;
    color: #034646;
}
#contato-btn{
    position: absolute;
    width: 25%;
    top: 32rem;
    left: 8rem;
    border: solid 1px #034646;
    color: white;
    background-color: #034646;
    transition: all 0.6s;
}
#contato-btn:hover{
    letter-spacing: 0.5px;
    background-color: var(--therdy);

}

/*sobre*/

/*rodapé*/

#footer{
    position: relative;
    top: 3rem;
    bottom: -1rem;
}
/*rodapé*/


/*---------------*/

/*Formulários*/
.form-group{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 35%;
    width: 60%;
    
}
.input-group-text{
    color: #01383b;
}
#title-form{
    position: absolute;
    left: 20%;
    top: 20%;
    color: #038d94;
}

#img-form{
    position: absolute;
    right:1%;
    top: 1%;
}
.btn.btn-primary{
    position: relative;
    width: 50%;
    left: 25%;
}
#link-form{
    color:#038d94;
    text-decoration: none;
}
#link-form:hover{
    color:#01383b;
    
}
#footer-form{
    position: relative;
    top: 1rem;
    left: 23%;
}
/*---------------*/

/*page-sobreNos*/

#main-sobre{
    position: relative;
    padding: 5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: justify;
    border: solid steelblue ;
    
}
#main-sobre h1{
    position: relative;
    top: -10px;
}
#img-faca{
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 25rem;
    opacity: 0.9;
}
#faca-parte{
    position: relative;
    top: 3rem;
    align-items: center;
    
    
}
.btn.btn-info {
    position: absolute;
    top: 12rem;
    height: 3rem;
    left: 15%;
    font-size: 15pt;
    background-color: steelblue;
    transition: all ease 0.3s;
}
.btn.btn-info:hover{
    background-color: rgb(44, 69, 90);
    letter-spacing: 0.2px;
}
#faca-parte h1{
    position: absolute;
    color: rgb(44, 69, 90);
    top: 7rem;
    height: 3rem;
    left: 15%;
  
}
  






/*---------------*/


